<%= f.error_messages %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'text required', :minlength => '2', :maxlength => '128' %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>
<%= render :partial => "admin/shared/image_upload", :locals => { :f => f } %>
<%= render :partial => "admin/shared/buttons" %>