<p>
  <%= label(nil, :title) %>
  <%=h @service.title %>
</p>
<p>
  <%= label(nil, :body) %>
  <%= @service.body %>
</p>

<%= link_to 'Edit', edit_object_path(@object) %> |
<%= link_to 'Back', collection_path %>