<tr class="<%= cycle("even_row", "odd_row") -%>" id="<%= row.id %>">
  <td><%=h row.title %></td>
  <td><%= link_to h(row.url), h(row.url) %></td>
  <td><%= link_to 'Preview', slide_path(row) %></td>
  <td><%= link_to 'Edit', edit_object_path(row) %></td>
  <td><%= link_to 'Delete', object_path(row), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>