<p>
  <%= label(nil, :title) %>
  <%=h @slide.title %>
</p>
<p>
  <%= label(nil, :url) %>
  <%=h @slide.url %>
</p>
<p>
  <%= label(nil, :description) %>
  <%= @slide.description %>
</p>

<%= render :partial => "admin/shared/show_links" %>