<p>
  <%= label(nil, :title) %>
  <%=h @location.title %>
</p>
<p>
  <%= label(nil, :street_1) %>
  <%=h @location.street_1 %>
</p>
<p>
  <%= label(nil, :street_2) %>
  <%=h @location.street_2 %>
</p>
<p>
  <b>City:</b>
  <%= label(nil, :city) %>
</p>
<p>
  <%= label(nil, :province) %>
  <%=h @location.province %>
</p>
<p>
  <%= label(nil, :country) %>
  <%=h @location.country %>
</p>
<p>
  <%= label(nil, :postal_code) %>
  <%=h @location.postal_code %>
</p>
<p>
  <%= label(nil, :contact_info) %>
  <%= @location.contact_info %>
</p>

<%= render :partial => "admin/shared/show_links" %>