<h1>Sitemap</h1>

<ul>
  <li>
    <%= link_to "Categories", categories_path, :title => 'Categories' %> (<%= link_to 'xml', "#{categories_path}.xml" %>)
    <ul>
      <% for category in @categories -%>
        <li><%= link_to h(category.title), category, :title => h(category.title) %> (<%= link_to 'xml', "#{category_path(category)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
  <li>
    <%= link_to "Departments", departments_path, :title => 'Departments' %> (<%= link_to 'xml', "#{departments_path}.xml" %>)
    <ul>
      <% for department in @departments -%>
        <li><%= link_to h(department.title), department, :title => h(department.title) %> (<%= link_to 'xml', "#{department_path(department)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
  <li>
    <%= link_to "Industries", industries_path, :title => 'Industries' %> (<%= link_to 'xml', "#{industries_path}.xml" %>)
    <ul>
      <% for industry in @industries -%>
        <li><%= link_to h(industry.title), industry, :title => h(industry.title) %> (<%= link_to 'xml', "#{industry_path(industry)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
  <li>
    <%= link_to "Contact", locations_path, :title => 'Contact' %> (<%= link_to 'xml', "#{locations_path}.xml" %>)
    <ul>
      <% for location in @locations -%>
        <li><%= link_to h(location.title), location, :title => h(location.title) %> (<%= link_to 'xml', "#{location_path(location)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
  <li>
    <%= link_to "Projects", projects_path, :title => 'Projects' %> (<%= link_to 'xml', "#{projects_path}.xml" %>)
    <ul>
      <% for project in @projects -%>
        <li><%= link_to "#{h(project.client)} #{h(project.title)}", project, :title => "#{h(project.client)} #{h(project.title)}" %> (<%= link_to 'xml', "#{project_path(project)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
  <li>
    <%= link_to "Slides", slides_path, :title => 'Slides' %> (<%= link_to 'xml', "#{slides_path}.xml" %>)
    <ul>
      <% for slide in @slides -%>
        <li><%= link_to h(slide.title), slide, :title => h(slide.title) %> (<%= link_to 'xml', "#{slide_path(slide)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
  <li>
    <%= link_to "Services", section_pages_path(@services), :title => 'Services' %> (<%= link_to 'xml', "#{section_pages_path(@services)}.xml" %>)
    <ul>
      <% for page in @services.pages -%>
        <li><%= link_to h(page.title), section_page_path(@services, page), :title => h(page.title) %> (<%= link_to 'xml', "#{section_page_path(@services, page)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
  <li>
    <%= link_to "News", section_pages_path(@news), :title => 'News' %> (<%= link_to 'xml', "#{section_pages_path(@news)}.xml" %>)
    <ul>
      <% for page in @news.pages -%>
        <li><%= link_to h(page.title), section_page_path(@news, page), :title => h(page.title) %> (<%= link_to 'xml', "#{section_page_path(@news, page)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
  <li>
    <%= link_to "About Us", section_pages_path(@about), :title => 'About Us' %> (<%= link_to 'xml', "#{section_pages_path(@about)}.xml" %>)
    <ul>
      <% for page in @about.pages -%>
        <li><%= link_to h(page.title), section_page_path('about', page), :title => h(page.title) %> (<%= link_to 'xml', "#{section_page_path(@about, page)}.xml" %>)</li>
      <% end -%>
    </ul>
  </li>
</ul>