<%= f.error_messages %>
<div style="width:40%; float:left;">
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'text required', :minlength => '2', :maxlength => '100' %>
  </p>
  <p>
    <%= f.label :tag_line %>
    <%= f.text_field :tag_line, :class => 'text required', :minlength => '2', :maxlength => '100' %>
  </p>
</div>
<div style="width:60%; float:left;">
  <%= render :partial => "admin/shared/image_upload", :locals => { :f => f } %>
</div>
<div style="width:100%; float:left;">
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'long' %>
  </p>
  <%= render :partial => "admin/shared/buttons" %>
</div>