<tr class="<%= cycle("even_row", "odd_row") -%>">
  <td><%=h row.title %></td>
  <td><%=h truncate(row.description, :length => 100) %></td>
  <td><%= link_to 'Projects', admin_department_projects_path(row) %></td>
  <td><%= link_to 'Preview', department_path(row) %></td>
  <td><%= link_to 'Edit', edit_object_path(row) %></td>
  <td><%= link_to 'Delete', object_path(row), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>