<p>
  <%= label(nil, :position) %>
  <%=h @department.position %>
</p>
<p>
  <%= label(nil, :slug) %>
  <%=h @department.slug %>
</p>
<p>
  <%= label(nil, :title) %>
  <%=h @department.title %>
</p>
<p>
  <%= label(nil, :description) %>
  <%=h @department.description %>
</p>

<%= link_to 'Edit', edit_object_path(@object) %> |
<%= link_to 'Back', collection_path %>