<li class="photo" id="photo_<%= row.id %>">
  <%= image_tag(row.image(:thumb), :alt => row.title) %><br />
  <%= link_to('Preview', row.image.url(:"640"), :class => 'thumb', :title => row.title) %> | 
  <%= link_to('Edit', edit_object_path(row)) %> | 
  <%= link_to 'Delete', object_path(row), :confirm => 'Are you sure? This cannot be undone!', :method => :delete %>
</li>
