<%= f.error_messages %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'text' %>
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body %>
</p>
<%= render :partial => "admin/shared/buttons" %>