<%= f.error_messages %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'text required', :minlength => '2', :maxlength => '100' %>
</p>
<%= render :partial => "admin/shared/image_upload", :locals => { :f => f } %>
<p>
  <%= f.label :body %>
  <%= f.text_area :body, :class => 'required' %>
</p>
<%= render :partial => "admin/shared/buttons" %>