<p>
  <%= label(nil, :title) %>
  <%=h @story.title %>
</p>
<p>
  <%= label(nil, :body) %>
  <%= @story.body %>
</p>

<%= link_to 'Edit', edit_object_path(@object) %> |
<%= link_to 'Back', collection_path %>