<%= f.error_messages %>
<%= link_to image_tag('icons/help.png'), '', :id => 'admin_help', :title => 'Display field instructions' %>
<p>
  <%= f.label :title %>
  <%= @object.title %>
</p>
<%= render :partial => "admin/shared/image_upload", :locals => { :f => f } %>
<%= render :partial => "admin/shared/buttons" %>