<%= f.error_messages %>
<p>
  <%= f.label :title %>
  <%= @object.title %>
</p>
<%= render :partial => "admin/shared/image_upload", :locals => { :f => f } %>
<%= render :partial => "admin/shared/buttons" %>