<p>
  <b>Position:</b>
  <%=h @department.position %>
</p>

<p>
  <b>Slug:</b>
  <%=h @department.slug %>
</p>

<p>
  <b>Title:</b>
  <%=h @department.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @department.description %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>