<h1><%=h @department.title %></h1>
<p>
  <%= @department.description %>
</p>
<p>
  <%= link_to 'Projects', department_projects_path(@department) %> |
  <%= link_to 'Categories', department_categories_path(@department) %> |
  <%= link_to 'Industries', department_industries_path(@department) %> |
</p>

<%= link_to 'Back', collection_path %>