<%= link_to image_tag('icons/help.png'), '', :id => 'admin_help', :title => 'Display field instructions' %>
<%= f.error_messages %>
<div style="width:40%; float:left;">
  <p>
    <%= f.label :client %>
    <%= describe_attr(f, :client) %>
    <%= f.text_field :client, :class => 'text required', :minlength => '2', :maxlength => '100' %>
  </p>
  <p>
    <%= f.label :title %>
    <%= describe_attr(f, :title) %>
    <%= f.text_field :title, :class => 'text required', :minlength => '2', :maxlength => '100' %>
  </p>
  <%= render :partial => "admin/shared/image_upload", :locals => { :f => f } %>
</div>
<div style="width:50%; float:left;">
  <p>
    <%= f.label :department %>
    <%= describe_attr(f, :department) %>
    <%= f.select("department_id" , @departments, :include_blank => true) %>
  </p>
  <p>
    <%= f.label :category %>
    <%= describe_attr(f, :category) %>
    <%= f.select("category_id" , @categories, :include_blank => true) %>
  </p>
  <p>
    <%= f.label :industry %>
    <%= describe_attr(f, :industry) %>
    <%= f.select("industry_id" , @industries, :include_blank => true) %>
  </p>
</div>
<div style="width:100%; float:left;">
  <p>
    <%= f.label :tag_line %>
    <%= describe_attr(f, :tag_line) %>
    <%= f.text_field :tag_line, :class => 'text long required', :minlength => '2', :maxlength => '255' %>
  </p>
  <p>
    <%= f.label :description %>
    <%= describe_attr(f, :description) %>
    <%= f.text_area :description, :class => 'required' %>
  </p>
  <%= render :partial => "admin/shared/buttons" %>
</div>