<p>
  <%= label(nil, :slug) %>
  <%=h @project.slug %>
</p>
<p>
  <%= label(nil, :client) %>
  <%=h @project.client %>
</p>
<p>
  <%= label(nil, :title) %>
  <%=h @project.title %>
</p>
<p>
  <%= label(nil, :description) %>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_object_path(@object) %> |
<%= link_to 'Back', collection_path %>