<div id="content">
  <h3><%= @page.title %></h3>
  <p>
    <%= link_to(image_tag(@page.image.url(:small), :class => 'inline'), @page.image.url(:"640"), :class => 'thumb', :title => @page.title) if @page.image? %>
    <%= RedCloth.new(@page.body).to_html %>
  </p>
</div>
<div id="resources">
  <h3><%=h @section.title %></h3>
  <ul>
  <% for page in @section.pages -%>
    <li><%= (@page.id == page.id) ? page.title : link_to(page.title, section_page_path(@section, page)) %></li>
  <% end -%>
  </ul>
</div>
