<p>
  <b>Slug:</b>
  <%=h @project.slug %>
</p>

<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Client:</b>
  <%=h @project.client %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Industry:</b>
  <%=h @project.industry %>
</p>

<p>
  <b>Category:</b>
  <%=h @project.category %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>