<%= f.error_messages %>
<p>
  <%= f.label :permalink %>
  <%= f.text_field :permalink, :class => 'text' %>
</p>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'text' %>
</p>
<%= render :partial => "admin/shared/image_upload", :locals => { :f => f } %>
<%= render :partial => "admin/shared/buttons" %>