<p>
  <%= label(nil, :slug) %>
  <%=h @category.slug %>
</p>
<p>
  <%= label(nil, :title) %>
  <%=h @category.title %>
</p>

<%= link_to 'Edit', edit_object_path(@object) %> |
<%= link_to 'Back', collection_path %>