<%= f.error_messages %>
<p>
  <%= f.label :position %>
  <%= f.text_field :position, :class => 'text' %>
</p>
<p>
  <%= f.label :slug %>
  <%= f.text_field :slug, :class => 'text' %>
</p>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'text' %>
</p>
<p>
  <%= f.submit 'Save' %>
</p>