<p>
  <%= label(nil, :position) %>
  <%=h @industry.position %>
</p>
<p>
  <%= label(nil, :permalink) %>
  <%=h @industry.permalink %>
</p>
<p>
  <%= label(nil, :title) %>
  <%=h @industry.title %>
</p>

<%= render :partial => "admin/shared/show_links" %>