<p>
  <%= label(nil, :position) %>
  <%=h @industry.position %>
</p>
<p>
  <%= label(nil, :slug) %>
  <%=h @industry.slug %>
</p>
<p>
  <%= label(nil, :title) %>
  <%=h @industry.title %>
</p>

<%= link_to 'Edit', edit_object_path(@object) %> |
<%= link_to 'Back', collection_path %>