<h1><%=h @location.title %></h1>
<p>
  <%=h @location.street_1 %><br />
  <%=h @location.street_2 %><br />
  <%=h @location.city %>, <%=h @location.province %><br />
  <%=h @location.country %>, <%=h @location.postal_code %>
</p>
<p>
  <%= @location.contact_info %>
</p>

<%= link_to 'Back', collection_path %>