<div id="content">
  <h1><%= @location.title %></h1>
  <%= link_to(image_tag(@location.image.url(:small), :class => 'inline'), @location.image.url(:"640"), :class => 'thumb', :title => @location.title) if @location.image? %>
  <p>
    <%= @location.street_1 %><br />
    <%= "#{@location.street_2}<br />" unless @location.street_2.blank? %>
    <%= @location.city %>, <%=h @location.province %><br />
    <%= @location.country %>, <%=h @location.postal_code %>
  </p>
  <p>
    <%= RedCloth.new(@location.contact_info).to_html %>
  </p>
  <%= "<p>Email: #{enkode_mail(@location.email, @location.email, title_text=nil, subject=nil)}</p>" unless @location.email.blank? %>
</div>
<div id="resources">
  <h1>Contact Us</h1>
  <ul>
  <% for location in @locations -%>
    <li><%= (@location.id == location.id) ? location.title : link_to(location.title, location_path(location)) %></li>
  <% end -%>
  </ul>
</div>

