<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>The Taylor Group Administration | <%= controller.controller_name.humanize %>: <%= controller.action_name.humanize %></title>
  <link rel="stylesheet" href="/stylesheets/jquery.lightbox-0.5.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8">
  <!--[if lte IE 6]><link rel="stylesheet" href="/stylesheets/lib/ie.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
  <link rel="stylesheet" href="/stylesheets/gritter.css" type="text/css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/markitup/skins/simple/style.css" />
  <link rel="stylesheet" type="text/css" href="/markitup/sets/textile/style.css" />
  
  <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.form.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.gritter.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tablednd_0_5.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript" src="/markitup/jquery.markitup.pack.js"></script>
  <script type="text/javascript" src="/markitup/sets/textile/set.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <script type="text/javascript" src="/javascripts/admin.js"></script>
  
  <% if flash[:notice] -%>
    <!-- status messages -->
    <script type="text/javascript">
      $(document).ready(function() {
      <% flash.each do |key,value| %>
        <% if !value.blank? -%>
          $.gritter.add({
        		title: '<%= key.to_s.capitalize %>',
        		text: '<%= value %>',
        		image: '/images/icons/<%= key.to_s %>.png',
        		time: 3000
        	});
      	<% end -%>
      <% end -%>
      });
    </script>
  <% end -%>
</head>
<body>

  <div id="page">
    <div id="header" style="position:relative;">
      <%= link_to image_tag('taylor_group_admin.gif', :size => '84x72', :alt => 'The Taylor Group - Administration'), admin_path %>
      <ul class="tabs" style="position:absolute; top:43px; left:86px;">
        <li><a href="<%= admin_slides_path %>"<%= ' class="active"' if controller.controller_name == 'slides' %>>Slides</a></li>
        <li><a href="<%= admin_departments_path %>"<%= ' class="active"' if controller.controller_name == 'departments' %>>Departments</a></li>
        <li><a href="<%= admin_projects_path %>"<%= ' class="active"' if controller.controller_name == 'projects' or controller.controller_name == 'photos' %>>Projects</a></li>
        <li><a href="<%= admin_categories_path %>"<%= ' class="active"' if controller.controller_name == 'categories' %>>Categories</a></li>
        <li><a href="<%= admin_industries_path %>"<%= ' class="active"' if controller.controller_name == 'industries' %>>Industries</a></li>
        <li><a href="<%= admin_sections_path %>"<%= ' class="active"' if controller.controller_name == 'sections' or controller.controller_name == 'pages' %>>Sections</a></li>
        <li><a href="<%= admin_locations_path %>"<%= ' class="active"' if controller.controller_name == 'locations' %>>Contact</a></li>
        <li><a href="<%= admin_users_path %>"<%= ' class="active"' if controller.controller_name == 'users' %>>Administrators</a></li>
        <li><a href="<%= root_path %>">Visit Live Site &raquo;</a></li>
      </ul>
    </div>
    <div id="body" class="wrapper">
      <%= yield -%>
    </div>
    <div id="footer">
      <p class="quiet"><small>Copyright &copy; 2009 The Taylor Group Inc., All Rights Reserved.</small></p>
    </div>
  </div>

</body>
</html>
