<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>The Taylor Group Administration | <%= controller.controller_name.humanize %>: <%= controller.action_name.humanize %></title>
  <link rel="stylesheet" href="/stylesheets/jquery.lightbox-0.5.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/admin/screen.css" type="text/css" media="screen" charset="utf-8">
  <!--[if lte IE 6]><link rel="stylesheet" href="/stylesheets/admin/lib/ie.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
  <script type="text/javascript" src="/javascripts/jquery-1.3.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.min.js"></script>
  <script type="text/javascript" src="/javascripts/admin.js"></script>
</head>
<body>

  <div id="page">
    <div id="header">
      <%= image_tag ('taylor-group-admin.gif', :size => '131x96', :alt => 'The Taylor Group - Administration') %>
      <ul class="tabs" style="padding-left:134px; margin-top: -27px;">
        <li><a href="<%= admin_slides_path %>"<%= ' class="active"' if controller.controller_name == 'slides' %>>Slides</a></li>
        <li><a href="<%= admin_projects_path %>"<%= ' class="active"' if controller.controller_name == 'projects' %>>Projects</a></li>
        <li><a href="<%= admin_categories_path %>"<%= ' class="active"' if controller.controller_name == 'categories' %>>Categories</a></li>
        <li><a href="<%= admin_clients_path %>"<%= ' class="active"' if controller.controller_name == 'clients' %>>Clients</a></li>
        <li><a href="<%= admin_departments_path %>"<%= ' class="active"' if controller.controller_name == 'departments' %>>Departments</a></li>
        <li><a href="<%= admin_industries_path %>"<%= ' class="active"' if controller.controller_name == 'industries' %>>Industries</a></li>
        <li><a href="<%= admin_locations_path %>"<%= ' class="active"' if controller.controller_name == 'locations' %>>Contact</a></li>
        <li><a href="<%= admin_services_path %>"<%= ' class="active"' if controller.controller_name == 'services' %>>Services</a></li>
        <li><a href="<%= admin_stories_path %>"<%= ' class="active"' if controller.controller_name == 'stories' %>>News</a></li>
        <li><a href="<%= root_path %>">Visit Live Site &raquo;</a></li>
      </ul>
    </div>
    <div id="body" class="wrapper">
      <!-- status messages -->
      <% flash.each do |key,value| %>
        <% if !value.blank? -%>
        	<div class="flash flash_<%= key %>" >
        	  <span class="message"><%= value %></span>
        	</div>
      	<% end -%>
      <% end -%>
      <%= yield -%>
    </div>
    <div id="footer">
      <p class="quiet"><small>Copyright &copy; 2009 The Taylor Group Inc., All Rights Reserved</small></p>
    </div>
  </div>

</body>
</html>
